<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PruebaSOAP_webservices" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint binding="basicHttpBinding" bindingConfiguration="PruebaSOAP_webservices"
                contract="PruebaSOAP" name="PruebaSOAP_webservices_PruebaSOAP" />
        </client>
    </system.serviceModel>
</configuration>